<h1>Professor List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>University</th>
        <th>Paper Count</th>
      </tr>
    </thead>
    <tbody>
      <% @professors.each do |prof| %>
        <tr>
          <td><%= prof.name %></td>
          <td><%= prof.subject %></td>
          <td><%= prof.university.name %></td>
          <td><%= prof.papers.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_professor_path,
            :class => 'btn btn-primary' %>
